header{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 1% 0px;
    background-color: rgba(0, 0, 0, 0.377);
    
    font-weight: 700;
    color: white;
}
.backgoundDark{
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100vh;
    position: relative;
    
    
}
/* left  */
.left{
    position: absolute;
    left: 20%;
    
    top: 120px;
    width: 20%;
    height: 40%;
    position: relative;
     
}
.LeftModel {
    
    width: 100%;
    height: 100%;
    
}
.leftGlassView{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    width: 50%;
    
    opacity: 0.8;
    
      
}
.leftDetailView{
    position: absolute;
    left: 0;
    
    bottom:0px;
    width: 100%;
    height: 33%;
    opacity: 0.8;
    background-color: orange;
    padding-bottom: 5px;
       
}
/* right  */

.right{
    position: absolute;
    right: 20%;
    
    top: 120px;
    width: 20%;
    height: 40%;
    /* position: relative; */
     
}
.rightModel {
    
    width: 100%;
    height: 100%;
    
}
.rightGlassView{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    /* top: 0; */
    width: 50%;
    
    opacity: 0.8;
    
      
}
.rightDetailView{
    position: absolute;
    left: 0;
    bottom:0px;
    width: 100%;
    height: 33%;
    opacity: 0.8;
    background-color: orange;
    padding-bottom: 5px;
    display: none;
       
}



p{
    color: white;
    margin: 0;
    padding-top: 5px;
    
}
h6{
    margin: 0;
    
}

/* danh sách kính */
.listGlassLayout{
    position: absolute;
    left:12%;
    
    /* top: 70%; */
    top: 500px;
    background-color: white;
    width: 80%;
    padding: 10px 5px;
}
